.modal-container {
  display: block;
  background: rgba(39, 47, 51, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  width: 450px;
  height:fit-content;
  box-sizing: border-box;
  margin: 10% auto 0;
  padding: 30px;
  border-radius: 10px;
  background: rgb(100, 100, 100) radial-gradient(circle at 50% 0, rgba(255, 255, 255, .65), rgba(255, 255, 255, .35));
  box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px,
  inset rgba(252, 255, 255, .7) 0 3px 8px,
  rgba(0, 0, 0, .8) 0 3px 8px -3px;


  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -15px;
    border-bottom: 1px solid maroon;
  }

  &__header--text {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Otomanopee One', sans-serif;
    text-transform: uppercase;
    color: maroon;
  }

  &__close {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  &__text {
    margin-top: 40px;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 15px;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
    margin-bottom: 15px;
  }
  &__img{
    position: absolute;
    width: 100px;
    height: 100px;
  }
}

.cls-1{
  fill: #3c3b3b;
  stroke: #3c3b3b;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:2px
}

.modal__close:hover{
  border: 0.5px solid maroon;
  color: darksalmon;
}
