.cart {
  background-image: url("../../pexels-gabriel-peter-696644.jpg");
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.no-items{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Otomanopee One', sans-serif;
  color: maroon;
  margin-top: 200px;
}
.cart-list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1200px;
  margin: 30px auto;
}
.cart-empty{
  height: 100vh;
}