.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}
.header-logo{
  color: azure;
  font-family: 'Otomanopee One', sans-serif;
  font-size: 30px;
  cursor: pointer;
}
.header-logo:hover{
  color: cadetblue;
}
.header-cart{
  color: azure;
  font-family: 'Otomanopee One', sans-serif;
  font-size: 25px;
  cursor: pointer;
}

.header-cart:hover{
  color: indianred;
}
.header-nav{
  display: flex;
  gap: 70px;
}
.selected{
  color: indianred;
}