.goods-card{
  width: 350px;
  height: 460px;
  box-sizing: border-box;
  margin: 10% auto 0;
  padding: 30px;
  border-radius: 10px;
  background: rgb(100, 100, 100) radial-gradient(circle at 50% 0, rgba(255, 255, 255, .65), rgba(255, 255, 255, .35));
  box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px,
  inset rgba(252, 255, 255, .7) 0 3px 8px,
  rgba(0, 0, 0, .8) 0 3px 8px -3px;

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__name{
    font-family: 'Otomanopee One', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: -5px;
    color: brown;
    border-bottom: 1px solid brown;
    padding-bottom: 5px;
  }
  &__price{

  }
  &__img{
    width: 250px;
    height: 150px;
    clip-path: polygon(5% 0, 95% 0, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%, 0 5%);
  }

  &__desc{
    font-family: 'Otomanopee One', sans-serif;
    color: darkred;
    font-size: 12px;
    border-bottom: 1px solid brown;
  }

  &__vendorCode{

  }
  &__color{

  }
  &__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 285px;
    margin-top: 20px;
  }
  &__number{
    font-family: 'Otomanopee One', sans-serif;
    color: midnightblue;
    font-size: 14px;
    //border-bottom: rebeccapurple;
  }
}


.fa-star {
  font-size: 25px;
  color: darkgreen;
}