body{
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: #555151;
}
.card{
    width: 500px;
    height: 400px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background: rgb(100,100,100) radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
    box-shadow:
            inset rgba(0,0,0,.6) 0 -3px 8px,
            inset rgba(252,255,255,.7) 0 3px 8px,
            rgba(0,0,0,.8) 0 3px 8px -3px;
}

.button{
    font-family: 'Otomanopee One', sans-serif;
    margin: 20px 20px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #3c3b3b;
    color: #3c3b3b ;
    transition: .4s;
    background: rgb(100,100,100) radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
    cursor: pointer;
}
.button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}
.button:hover:after {
    border-color: #3c3b3b ;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}


.title{
    font-family: 'Otomanopee One', sans-serif;
    font-weight: bold;
    color: #3c3b3b;
}

.text{
    font-family: 'Quicksand', sans-serif;
    color: #3c3b3b;
}

.user-name {
    font-family: 'Quicksand', sans-serif;
    display: inline;
    margin-right: 30px;
}

.user-email{
    font-family: 'Quicksand', sans-serif;
    display: inline;
    /*text-decoration: none;*/
    color: darkslategrey;
}