.button{
  font-family: 'Otomanopee One', sans-serif;
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  border: 2px solid #3c3b3b;
  color: #3c3b3b ;
  transition: .4s;
  background: rgb(100,100,100) radial-gradient(circle at 50% 0, rgba(255,255,255,.65), rgba(255,255,255,.35));
  cursor: pointer;
  font-size: 15px;
}
.button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: .4s;
}
.button:hover:after {
  border-color: #3c3b3b ;
  width: calc(100% - 15px);
  height: calc(100% + 15px);
}
